<h1>Transactions for <%= user.username %></h1>


    <p> Here is your list of things to do! </p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>description</th>
                <th>amount</th>
                <th>category</th>
                <th>date</th>
                <th>delete</th>
                <th>edit</th>
            </tr>
        </thead>
        <tbody>
            <% items.map(item => {%>
                <tr>
                    <td> <%= item._id.description %> </td>
                    <td><%= item._id.amount %></td>
                    <td><%= item.category %></td>
                    <td><%= item.date %></td>
                </tr>
                
                <% }) %>

        </tbody>
    </table>

    <form method="post" action="transactions">
        <input type="text" name="desc" placeholder="description">
        <br>
        <input type="number" name="amt" placeholder="amount">
        <br>
        <input type="text" name="cat" placeholder="category">
        <br>
        <input type="date" name="date">
        <br>
        <input type="submit" value="store">
    </form>