<h1>Transactions for <%= user.username %></h1>

    <div class="row">
        <div class="col">
            <p> Here is your list of things to do! </p>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>description</th>
                        <th>amount</th>
                        <th>category</th>
                        <th>date</th>
                        <th>delete</th>
                        <th>edit</th>
                    </tr>
                </thead>
                <tbody>
                    <% results.map(item => {%>
                        <tr>
                           <td> <%= item._id.description %> </td>
                           <td><%= item._id.amount %></td>
                           <td><%= item.category %></td>
                           <td><%= item.date %></td>
                        </tr>
                        
                        <% }) %>
            
                </tbody>
            </table>